<!DOCTYPE html>
<html>

<head>
    <!-- link css -->
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/stylesheets/calendarStyle.css" />
    <!-- <script rel="text/javascript" src="\jquery-ui-1.12.1\jquery-ui.css"></script> -->
    <!-- <script rel="text/javascript" src="\jquery-ui-1.12.1\jquery-ui.min.js"></script> -->
    <!-- JQeury -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <!-- w3css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- script -->
    <script src="/javascripts/calendar.js"></script>
</head>

<body>

    <div id="dialog-form" title="새로운 일정을 등록하세요.">
        <form>
            <fieldset>
                <label for="subject">제목</label>
                <input type="text" name="subject" id="subject" value="">

                <label for="date">날짜</label>
                <input type="text" name="date" id="date" value="">

                <label for="description">상세내용</label>
                <textarea name="description" id="description" ></textarea>

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div class="row">
        <div class="w3-col m6 13 calendar">
            <div id="monthtitle">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <span id="year" style="font-size:18px"></span>
                    </br>
                    <li id="month"></li>
                </ul>
            </div>
            <ul id="weekdays"></ul>
            <ul id="days"></ul>
        </div>
        <div class="w3-col m5 13 calendar">
            <i class="fa fa-plane" style="font-size:36px;"></i> 출장
            <i class="fa fa-plane" style="font-size:36px;"></i> 출장
            <i class="fa fa-plane" style="font-size:36px;"></i> 출장
        </div>
    </div>

</body>
</html>