<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script rel="text/javascript" src="\jquery-ui-1.12.1\jquery-ui.css"></script> -->
    <!-- <script rel="text/javascript" src="\jquery-ui-1.12.1\jquery-ui.min.js"></script> -->

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>  
  </head>
  <body>
    



  </body>
</html>
