<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script rel="text/javascript" src="\jquery-ui-1.12.1\jquery-ui.css"></script>
    <script rel="text/javascript" src="\jquery-ui-1.12.1\jquery-ui.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
